PGUSER=postgres
PGHOST=localhost
PGPASSWORD=mypassword
PGDATABASE=mydb
PGPORT=8000

RABBITMQ_SERVER=myserver-rabbitmq-docker

SMTP_HOST=myemail.smtp.mailtrap.io
SMTP_PORT=465
SMTP_USER=myuser
SMTP_PASSWORD=mypassword